<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Pizzahut001">
    <classes>
      <class name="com.realpay.pizzahut_part2.InitializeTest"/>
    </classes>
  </test> <!-- Pizzahut001 -->
</suite> <!-- Suite -->
